@import "./page.scss";
@import "./style.scss";
@import "./profile.scss";
@import "./blocks.scss";

* {
  font-family: "DM Sans";
}

:root {
  --white-100: #ffffff;
  --black-000: #050b12;
}

html,
body {
  margin: 0;
  background: var(--black-000);
}

h1,
h2 {
  margin: 0;
}

#root {
  position: relative;
  display: flex;
}

main {
  z-index: 9;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
}

.sections {
  display: flex;
  gap: 16px;
  width: 100%;

  #contact {
    flex: 2;
  }

  #experiences {
    flex: 4;
  }
}

.cv {
  @include grid;
  gap: 40px;
}
