
#sections.visible {
    transition: 8s ease;
    
}

@keyframes main {
    from {
        transform: translateY(4rem);
        opacity: 0;
    }
    to {
        transform: translateY(0rem);
        opacity: 1;
    }
}
